{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production_mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/RB19-logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
        {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
        {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
        {% do assets.addCss('theme://css-compiled/theme'~compress) %}
        {% do assets.addCss('theme://css/custom.css') %}
        {% do assets.addCss('theme://css/line-awesome.min.css') %}
    {% endblock %}
    {{ assets.css()|raw }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% endblock %}
    {{ assets.js()|raw }}

{% endblock head %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div id="page-wrapper">
    {% block header %}
        <section id="header" class="section">
            <section class="container {{ grid_size }}">
                <nav class="navbar">
                    <section class="navbar-section logo">
                        {% include 'partials/logo.html.twig' %}
                    </section>
                    <section class="navbar-section">

                        <nav class="dropmenu animated">
                            {% include 'partials/navigation.html.twig' %}
                              {% for button in site.buttons %}
                              <li><a href="{{ button.link }}" class="button special">{{ button.text }}</a></li>
                              {% endfor %}
                            </ul>
                        </nav>

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}

                    </section>
                </nav>
            </section>
        </section>
        <div class="mobile-menu">
            <div class="button_container" id="toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
    {% endblock %}

    {% block hero %}{% endblock %}

        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

{% block footer %}
    <section id="footer" class="section bg-light-blue">
        <section class="container 7x1">
            <p>
                <a href="http://www.riken.jp/en/">
                    <img src="{{ url('theme://images/riken-logo.svg') }}" alt="RIKEN" style="width:104.852px;height:40.578px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
                <a href="https://ithems.riken.jp/en">
                    <img src="{{ url('theme://images/ithems-logo.svg') }}" alt="Interdisciplinary Theoretical and Mathematical Sciences" style="width:105.802px;height:60.614px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
                <a href="http://www.cems.riken.jp/en/">
                    <img src="{{ url('theme://images/cems-logo.png') }}" alt="Center for Emergent Matter Science" style="width:142.046px;height:35.13px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
                </a>
                <a href="https://www.lbl.gov/">
                    <img src="{{ url('theme://images/lbnl-logo.svg') }}" alt="Lawrence Berkeley National Laboratory" style="width:244.477px;height:36.159px;border:0;" align="middle" hspace="20" vspace="10">
                </a> 
                <a href="https://www.berkeley.edu/">
                    <img src="{{ url('theme://images/ucb-logo.svg') }}" alt="University of California - Berkeley" style="width:128.075px;height:39.416px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
                <a href="https://berkeleyquantum.org/">
                    <img src="{{ url('theme://images/bq-logo.svg') }}" alt="Berkeley Quantum" style="width:41.44px;height:45.353px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
                <a href="https://science.energy.gov/">
                    <img src="{{ url('theme://images/doe-logo.svg') }}" alt="Department of Energy - Office of Science" style="width:229.638px;height:34.959px;border:0;" align="middle" hspace="20" vspace="10">
                </a>
            </p>
        </section>
    </section>
{% endblock %}

    
    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
