<ul>
<li class="submenu">
  <a href=""> <font color="black"><b>About</b></font></a>
  <ul>
    <li class="{{ current_page }}">
      <a href="/committees">
        <b>Committees</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/dates">
      <b>Important Dates</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/supporters">
      <b>Supporters</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/ithems">
      <b>iTHEMS @ Berkeley</b>
      </a>
    </li>
    {% for mitem in site.menu %}
    <li>
      <a href="{{ mitem.link }}">{{ mitem.text }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
<li class="submenu">
  <a href=""> <font color="black"><b>Registration</b></font></a>
  <ul>
    <li class="{{ current_page }}">
      <a href="/registration">
        <b>Registration</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/abstract-submission">
        <b>Abstract Submission</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/accomodations">
        <b>Accomodations</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/participants">
        <b>Participants</b>
      </a>
    </li>
    <li class="{{ current_page }}">
      <a href="/financial-support">
        <b>Financial Support</b>
      </a>
    </li>
    {% for mitem in site.menu %}
    <li>
      <a href="{{ mitem.link }}">{{ mitem.text }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
<li class="submenu">
<a href=""> <font color="black"><b>Program</b></font></a>
<ul>
  <li class="{{ current_page }}">
    <a href="/schedule">
      <b>Schedule</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="/public-talk">
      <b>Public Talk</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="/social-events">
      <b>Social Events</b>
    </a>
  </li>
 {% for mitem in site.menu %}
  <li>
    <a href="{{ mitem.link }}">{{ mitem.text }}</a>
  </li>
  {% endfor %}
</ul>
</li>
<li class="submenu">
<a href=""> <font color="black"><b>Local Guide</b></font></a>
<ul>
  <li class="{{ current_page }}">
    <a href="http://www2.lbl.gov/Workplace/Transportation.html">
      <b>Directions</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="http://www.lbl.gov/Workplace/Facilities/Support/Busses/">
      <b>Local Shuttle</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="/venues">
      <b>Venues</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="/restaurants">
      <b>Restaurants</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="/attractions">
      <b>Attractions</b>
    </a>
  </li>
 {% for mitem in site.menu %}
  <li>
    <a href="{{ mitem.link }}">{{ mitem.text }}</a>
  </li>
  {% endfor %}
</ul>
</li>

<li class="submenu">
<a href=""> <font color="black"><b>Media</b></font></a>
<ul>
  <li class="{{ current_page }}">
    <a href="posters">
      <b>Posters</b>
    </a>
  </li>
  <li class="{{ current_page }}">
    <a href="photos">
      <b>Photos</b>
    </a>
  </li>
 {% for mitem in site.menu %}
  <li>
    <a href="{{ mitem.link }}">{{ mitem.text }}</a>
  </li>
  {% endfor %}
</ul>
</li>
