{% macro nav_loop(page) %}
  {% import _self as macros %}
    <ul>
      <li class="current"><a href="{{ base_url_absolute }}">Welcome</a></li>
      <li class="submenu">
        <a href="">Layouts</a>
        <ul>
          {% for page in pages.children %}
          {% if page.visible %}
          {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
          <li class="{{ current_page }}">
            <a href="{{ page.url }}">
              {{ page.menu }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% for mitem in site.menu %}
          <li>
            <a href="{{ mitem.link }}">{{ mitem.text }}</a>
          </li>
          {% endfor %}
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              {% for submenu in site.submenu %}
              <li><a href="{{ submenu.link }}">{{ submenu.text }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </li>
{% endmacro %}
